.git
.gitignore
.env
.env.*
.idea
.vscode
.DS_Store
.mypy_cache
.ruff_cache
.pytest_cache
__pycache__

venv
.venv
env

web/node_modules

*.pyc
*.pyo
*.log
*.db
*.sqlite3

volumes/
tests/
docs/
*.md
!README.md

Makefile
.pre-commit-config.yaml
docker-compose.yml
